*
  margin 0
  padding 0
  box-sizing border-box

body
  font-size 14px

table
  width 100%
  border-collapse collapse

th, td
  padding 4px
  border 1px solid #d8d8d8
  text-align left

.auto-size
  width 100%
  display table
  table-layout fixed
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
